# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.txt
target
out
gen
src/main/resources/static/
src/main/resources/templates/
*.log
*-.log
*.gz
### Example user template template
### Example user template